.col-min-1 {
    width: 4.1666666666666666%;
}

.col-min-2 {
    width: 8.3333333333333333%;
}

.col-min-3 {
    width: 12.5%;
}

.col-min-4 {
    width: 16.6666666666666666%;
}

.col-min-5 {
    width: 20.8333333333333333%;
}

.col-min-6 {
    width: 25%;
}

.col-min-7 {
    width: 29.1666666666666666%;
}

.col-min-8 {
    width: 33.3333333333333333%;
}

.col-min-9 {
    width: 37.5%;
}

.col-min-10 {
    width: 41.6666666666666666%;
}

.col-min-11 {
    width: 45.8333333333333333%;
}

.col-min-12 {
    width: 50%;
}

.col-min-13 {
    width: 54.1666666666666666%;
}

.col-min-14 {
    width: 58.3333333333333333%;
}

.col-min-15 {
    width: 62.5%;
}

.col-min-16 {
    width: 66.6666666666666666%;
}

.col-min-17 {
    width: 70.8333333333333333%;
}

.col-min-18 {
    width: 75%;
}

.col-min-19 {
    width: 79.1666666666666666%;
}

.col-min-20 {
    width: 83.3333333333333333%;
}

.col-min-21 {
    width: 87.5%;
}

.col-min-22 {
    width: 91.6666666666666666%;
}

.col-min-23 {
    width: 95.8333333333333333%;
}

.col-min-24 {
    width: 100%;
}

.m-fl {
    float: left;
}

.nav.global .container> *{
    margin: 3px 0;
    text-align: left;
}
.nav.global .auth{
    text-align: left;
}
.nav.global .auth>*{
    margin-left: 0;
    margin-right:30px;
}
.nav.global .container{
    padding: 0 4px;
}
main .container .side-bar>*{
    margin-left: 4px;
    margin-right: 4px;
}
main .time-line .content .thump{
    padding-right: 0px;
}